body {
  text-align: center;
}

h1.title {
  font-weight: bolder;
}

img.resume_pic {
  border: 5px solid black;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-list-item {
  float: left;
  background-color: red;
  border-radius: 15%;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list-item:hover {
  background-color: black;
  border-radius: 25%;
}

.nav-link:hover {
  color: white;
}

.nav-container {
  background: red;
  height: 46px;
}

.grid-container-1 :nth-child(1) {
  grid-area: Resume_pic;
}

.grid-container-1 :nth-child(2) {
  grid-area: Expereince_txt;
}

.grid-container-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'Resume_pic Expereince_txt';
}

@media (min-width: 500px) {
  .grid-container-1 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'Resume_pic'
      'Expereince_txt';
  }
}

@media (min-width: 1200px) {
  .grid-container-1 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'Resume_pic Expereince_txt';
  }
  .grid-container-1 :nth-child(1) {
    grid-area: Resume_pic;
    text-align: right;
  }

  .grid-container-1 :nth-child(2) {
    grid-area: Expereince_txt;
    width: 600px;
    text-align: left;
  }
}
