body {
  text-align: center;
}

h1.title {
  font-weight: bolder;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-list-item {
  float: left;
  background-color: red;
  border-radius: 15%;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list-item:hover {
  background-color: black;
  border-radius: 25%;
}

.nav-link:hover {
  color: white;
}

.nav-container {
  background: red;
  height: 46px;
}

.form-cont {
  width: 500px;
  height: 450px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid black;
  text-align: left;
}

.message-box {
  height: 150px;
  width: 250px;
}

.form-ele {
  padding-left: 20px;
  float: left;
  width: 30%;
}

.form-in {
  width: 175px;
}

.form_h {
  text-align: center;
}

.btn-cont {
  text-align: center;
}

.btn-sub {
  background-color: red;
  color: white;
  width: 45%;
  height: 50px;
  position: relative;
  border: 3px solid black;
}

.btn-reset {
  background-color: red;
  width: 45%;
  height: 50px;
  color: white;
  border: 3px solid black;
}
