/* This centers everything inside the body.*/
body {
  text-align: center;
}

/* This makes the header bold. */
h1.title {
  font-weight: bolder;
}

/* This makes the navagation bar go horozontally accross the top of the page. */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* This styles the navagaition bar. */
.nav-list-item {
  float: left;
  background-color: red;
  border-radius: 15%;
}

/* This styels the text of the link. */
.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* This changes the color of the background change. */
.nav-list-item:hover {
  background-color: black;
  border-radius: 25%;
}

/* This makes the text change color when you hover over them. */
.nav-link:hover {
  color: white;
}

/* This mades the width of the web page red. */
.nav-container {
  background: red;
  height: 46px;
}

/* This formats the container of the form. */
.form-cont {
  width: 500px;
  height: 450px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid black;
  text-align: left;
}

/* This sets the dimentions of the message text box. */
.message-box {
  height: 150px;
  width: 250px;
}

/* This is to set the position of the form elements. */
.form-ele {
  padding-left: 20px;
  float: left;
  width: 30%;
}

/* This sets the width of the inputs for the form. */
.form-in {
  width: 175px;
}
/* This formats the header of the form. */
.form_h {
  text-align: center;
}

/* This alligns the buttons of the form. */
.btn-cont {
  text-align: center;
}

/* This formats the submit button. */
.btn-sub {
  background-color: red;
  color: white;
  width: 45%;
  height: 50px;
  position: relative;
  border: 3px solid black;
}

/* This formats the reset butten of the form. */
.btn-reset {
  background-color: red;
  width: 45%;
  height: 50px;
  color: white;
  border: 3px solid black;
}
