/* This centers everything inside the body.*/
body {
  text-align: center;
}

/* This makes the header bold. */
h1.title {
  font-weight: bolder;
}

/* This makes the navagation bar go horozontally accross the top of the page. */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* This styles the navagaition bar. */
.nav-list-item {
  float: left;
  background-color: red;
  border-radius: 15%;
}

/* This styels the text of the link. */
.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* This changes the color of the background change. */
.nav-list-item:hover {
  background-color: black;
  border-radius: 25%;
}

/* This makes the text change color when you hover over them. */
.nav-link:hover {
  color: white;
}

/* This mades the width of the web page red. */
.nav-container {
  background: red;
  height: 46px;
}

/* This specifies the dimentions of the dog picture. */
img.dog_pic {
  height: 400px;
  width: 300px;
}

/* This sets the grid area of the first grid item. */
.grid-container-1 :nth-child(1) {
  grid-area: Picture;
}

/* This set the grid area of the second grid item. */
.grid-container-1 :nth-child(2) {
  grid-area: Intro;
}

/* Default grid layout */
.grid-container-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'Picture Intro';
}

/* Sets up a grid layout on a specific pixel width. */
@media (min-width: 500px) {
  .grid-container-1 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'Picture'
      'Intro';
  }
}

/* Sets up a grid layout on a specific pixel width. */
@media (min-width: 1000px) {
  .grid-container-1 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'Picture Intro';
  }
  .grid-container-1 :nth-child(1) {
    grid-area: Picture;
    text-align: right;
    padding-right: 25px;
  }

  .grid-container-1 :nth-child(2) {
    grid-area: Intro;
    width: 700px;
    text-align: left;
  }
}
